@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Muli');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*how to do image alt in css?*/
body {   
    background-attachment: fixed;
    background-image: url(../images/pidgy.jpg), url(../images/flamingos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
h1 {
	font-size: 13em;
	letter-spacing: -5px;
	line-height: 0.5em;
    padding-top: 20vh;
    text-transform: uppercase;   
}

h2 {
	color: #E9857C;
	font-size: 6em;
	line-height: 1;
    padding: 20px;
    text-transform: uppercase;    
}

h3 {
	border-bottom: solid 5px #F8D6D3;
	border-top: solid 5px #F8D6D3;
	font-size: 3em;
	line-height: 1;
	margin: 10px;
	padding:.25em 0;
    text-transform: lowercase;
    width:85%;
}
p {
	font-family: 'Quattrocento', serif;
}


a {
	color: #fff;
	font-size: 1.5em;
	text-transform: uppercase;
}
nav {
	padding: 20px;
	text-align: right;
}

nav a {
	text-transform: uppercase;
	margin-right: 10px;
}
#intro {
	float: right;
	padding-top: 30vh;
	padding-bottom: 50px;
	text-align: right;
	width: 75%;
}



footer {
	padding: 20px;
	text-align: left;
}

img {
	width: 33.33%;
	float: left;
	padding:1em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.headsup {
	text-align: right;
	margin-right: 10px;
}

.gallery {
	background: rgb(18, 1, 9);
}

.brownblock {
	background-color: rgb( 32, 30, 31);
}

#tagline {
	float: left;
}

#fancy {
	font-size: 2.5em;
}





